img-fluid {     width: auto;     height: 100%; background-color: black; } 
#dos{     padding-left: 0px;     padding-right: 0px; background-color: black;}
p{
    font-family: Helvetica;
    color: lightgray;
}

